*{
  margin: 0%;
  padding: 0%;
}
.vi_whole{
  display: flex;
  margin-left: 2vw;

}
.vi_allimg_list{
  /* border: 1px solid red; */
  width: 15vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 1vh;
  /* justify-content: space-evenly; */
}
.magc{
  /* border: 1px solid black; */
  padding: 2vw;
}
.amin_title{
font-size: larger;
color: cornflowerblue;
font-weight: 700;
  /* border: 1px solid black; */
  
}
.vi_comnt{
  /* border: 1px solid red; */
  min-width: 40vw;
  position: absolute;
  left: 50vw;
  top: 40vh;
  min-height: 30vh;
  padding: 1vh;
  border-radius: 5px;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  color: grey;
  gap: 2vh;
}
.name_ext{
  color: black;
  font-weight: 700;

}
.cmt_ext{
  color: green;
  letter-spacing: 0.1vw;
}
.sid_img{
  /* border: 1px solid red; */
  cursor: pointer;
  height: 20vh;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

}
.vi_inr{
  display: flex;
  flex-direction: column;
}
.sid_img{
  width: 15vw;
}