*{
    margin: 0%;
    padding: 0%;
}
.eco_gen_cvr{
    color: black;
    border: 1px solid black;
    width: 99.85vw;
    margin-top: 8vh;
    display: flex;
 overflow: hidden;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    background-color: rgb(156, 146, 146);
    color: white;

}
.gen_cvr_hdg{
    font-size: 5vw;
    font-weight: 700;

}
.gen_cvr_albm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

}
.cvr_albm_txt{
    border: 2px solid rgb(12, 152, 218);
    border-radius: 5px;
    padding: 1rem;
    font-size: large;
    font-weight: 700;
}
.cvr_albm_icon{
    color: rgb(12, 152, 218);
}
.gen_cvr_albm{
    /* display: none; */
}