*{
    margin: 0%;
    padding: 0%;
}
.ecom_nav{
    color: white;
    background-color: black;
    height: 8vh;
    font-size: larger;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100vw;
    top: 0%;
    z-index: 999;
}
.ecom_nav_maincnt{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-left: 8vw;
 

}
.ecom_nav_crtcnt{
    float: right;
    display: flex;
    align-items: center;
    padding-right: 3vw;
}
.nav_mncnt_text{

    color: white;
}
.nav_mncnt_text:hover{
transform: scale(1.1);
cursor: pointer;
}

